__pycache__/
*.pyc
.env
*.db
venv/
.env/
node_modules/
*.log
*.sqlite3
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
frontend/dist/
*.egg
*.tar.gz
*.whl
coverage/
htmlcov/
*.coverage
.coverage.*
*.pyo
*.pyd
*.so
*.dylib
*.dll
*.bak
*.tmp
*.swp
*.swo
*.swn
.pytest_cache/
.coverage
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
out/
.nuxt
dist/
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
Thumbs.db



